:root {
    --gray-2: #4f5c65;
    --gray-1: #353e44;
    --gray-3: #e9eef1;
    --gray-4: #f7fafc;
    --white: white;
    --black: black;
}

html, body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%
}